html {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}
p,
li,
label {
  font-family: "Reddit Sans", sans-serif;
}
body {
  margin: 0px;
  background-color: #6962ad;
}
main {
  padding: 5rem;
  max-width: 1200px;
  margin: auto;
}
h1 {
  color: #6c22a6;
}
h2 {
  color: #6962ad;
}
h3 {
  color: #83c0c1;
}
a {
  color: #6c22a6;
  text-decoration: none;
}
#logo1 {
  position: absolute;
  height: 100px;
  margin-top: 60vh;
  margin-left: 10%;
}
#logo2 {
  position: absolute;
  height: 150px;
  right: 5%;
}
.introduction {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #96e9c6;
}
.introduction img {
  height: 200px;
  border-radius: 50%;
  margin: 3rem;
}
.compartiment {
  margin-bottom: 10rem;
  background-color: white;
  padding: 2rem;
}
.resumepart {
  margin-bottom: 3rem;
}
.projects ul {
  list-style-type: none;
  padding: 0px;
}

.projects img {
  width: 100%;
  border-radius: 8%;
}
.project {
  border: #6c22a6 solid;
  border-radius: 8%;
  padding: 2rem;
}
.projects ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.hobbies img {
  width: 80%;
  margin-top: 1rem;
  justify-self: right;
  border-radius: 8%;
}
.hobbies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.hobbies h2 {
  grid-column: span 2;
}
.contact {
  background-color: #96e9c6;
  padding: 2rem;
  border-radius: 8%;
  margin: auto;
  text-align: center;
}

/* this comes from w3 schools */
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-bottom: 16px; /* Bottom margin */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #6c22a6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #6962ad;
}

@media (max-width: 1200px) {
  .project {
    padding: 1rem;
  }
}
@media (max-width: 1000px) {
  main {
    padding: 3rem;
  }
}
@media (max-width: 900px) {
  main {
    padding: 2rem;
  }
  .projects li {
    font-size: 18px;
  }
  .projects ul {
    gap: 1rem;
  }
}

@media (max-width: 760px) {
  .hobbies {
    display: flex;
    flex-direction: column;
  }

  .projects ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  #logo1 {
    height: 50px;
  }
  #logo2 {
    height: 100px;
  }
  .introduction img {
    margin: 1rem;
  }
  main {
    padding: 3rem 0px;
  }
  .projects ul {
    display: flex;
    flex-direction: column;
  }
  .project {
    margin-bottom: 4%;
  }
}

@media (max-height: 500px) {
  /* hier moet ik nog even naar kijken */
  #logo1 {
    height: 50px;
  }
  #logo2 {
    height: 100px;
  }
  .introduction img {
    height: 150px;
    margin: 1rem;
  }
}
@media (min-width: 760px) {
  form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
    gap: 0.5rem;
  }
  label{
    text-align: right;
  }
  input[type="submit"] {
    width: 20%;
  }
